/* mixin */
@mixin tamaño($width, $height) {
  width: $width;
  height: $height;
}

.aspectos-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-row-gap: 60px;
  justify-items: center;
  img {
    @include tamaño(360px, 360px);
  }
}
