.article-container article {
  display: flex;
  align-items: center;
  padding: 50px;
}
.info-a p {
  font-size: larger;
  padding: 50px;
  margin: 10px;
}

.boc-1 {
  width: 800px;
  height: 600px;
}

.info-b p {
  font-size: larger;
  padding: 50px;
  margin: 10px;
}

.boc-2 {
  width: 900px;
  height: 500px;
}

.info-c p {
  font-size: larger;
  padding: 50px;
  margin: 10px;
}

.boc-3 {
  width: 800px;
  height: 500px;
}

.info-d p {
  font-size: larger;
  padding: 50px;
  margin: 10px;
}

.boc-4 {
  width: 800px;
  height: 500px;
}
