.desc {
  padding: 50px;
}

.principal {
  width: 100%;
}

.pasiva {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pasiva-info {
  padding: 50px;
  margin: 20px;
}

.hab-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hab-1-info {
  padding: 50px;
  margin: 20px;
}

.hab-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hab-2-info {
  padding: 10px;
  margin: 10px;
}

.hab-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hab-3-info {
  padding: 50px;
  margin: 20px;
}

.hab-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hab-4-info {
  padding: 50px;
  margin: 20px;
}

video {
  padding: 30px;
  margin: 10px;
}
